body {
  font-family: 'Raleway';
}

.divider-red {
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #bc0034 50%, rgba(255, 255, 255, 0) 100%);
}

.section-one {
  background: url(../img/bg1.jpg) no-repeat;
  background-size: cover;
  .header-text {
    h4 {
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
    }
    h1 {
      font-size: 122px;
      font-weight: 900;
      line-height: 130px;
    }
  }
  .wrap-header-text {
    margin-top: 69px;
    margin-bottom: 104px;
  }
  .img-product {
    width: 100%;
    height: 100%;
    max-width: 406px;
    max-height: 480px;
  }
  .img-health {
    max-width: 55px;
  }
  .plus-health {
    border-radius: 52px;
    border: 2px solid #fff;
    background-color: rgba(94, 0, 26, 0.5);
    margin-bottom: 7px;
    span {
      color: $white;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      margin-left: 35px;
    }
  }
  button.call-me {
    background-image: linear-gradient(to top, #dcd9bb 0%, #e0e2cc 13%, #e4eada 28%, #e8f2e8 48%, #ebf9f5 68%, #efffff 87%, #efffff 100%);
    box-shadow: 0 6px 6px rgba(1, 1, 1, 0.35);
    border-radius: 50px;
    border: 2px solid #ffffff;
    padding: 24px 36px 23px 37px;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {

      box-shadow: 0 6px 6px rgba(1, 1, 1, 0.35);
      border-radius: 50px;
      background-image: linear-gradient(to bottom, #b87f38 0%, #c79347 13%, #d3a655 28%, #deb564 48%, #ebc575 68%, #ead686 87%, #ead686 100%), linear-gradient(to top, #3a2836 0%, #413046 13%, #473958 28%, #4d4169 48%, #544a7a 68%, #5a528b 87%, #5a528b 100%);
    }
  }

}

.section-two {
  padding-bottom: 73px;
  .red-text {
    color: #bc0032;
  }
  .wrap-sec-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .divider-red {
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #bc0034 50%, rgba(255, 255, 255, 0) 100%);
  }
  .wrap-sec-text-big {
    font-size: 18px;
    text-align: center;
    display: block;
    margin-bottom: 118px;
  }
  .recomend-text {
    font-size: 48px;
    font-weight: 300;
    line-height: 36px;
    border: 2px dashed #bc0034;
    padding: 10px 50px;
  }
  .recomend-text-bot {
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    color: #302d2b;
  }.wrap-wom-img
  .text-recomend{
    max-width: 277px;
  }
}

.section-three {
  background: url(../img/bg3.png) no-repeat;
  background-size: cover;
  .composition {
    margin-top: 80px;
    margin-bottom: 99px;
    font-size: 48px;
    font-weight: 300;
    line-height: 36px;
    border: 2px dashed #ffffff;
    padding: 6px 210px;
    color: #ffffff;
  }
  .item-img {
    border: 2px solid #fff;
    position: absolute;
    left: -72px;
    top: 6px;
    max-width: 108px;
    z-index: 2;
  }
  .wrap-item {
    border: 2px solid #ffffff;
    background-color: rgba(48, 45, 43, 0.9);
    width: 292px;
    height: 270px;
    .wrap-item-text {
      padding: 0 0 0 40px;
    }
    .item {
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
      line-height: 20px;
    }
    .item-text {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.section-four {
  background: url(../img/bg4.png) no-repeat;
  background-size: cover;
  .mode-of-application {
    margin-top: 70px;
    font-size: 48px;
    font-weight: 300;
    line-height: 36px;
    border: 2px dashed #000000;
    padding: 6px 210px;
    color: #de1140;
  }
  .text-mode{
    max-width: 300px;
  }
  .wrap-mode-item {
    margin-left: 115px;
    .wrap-mid-mode-item {
      margin-left: 67px;
    }
  }
  .wrap-wom-img {
    margin-top: 85px;
  }
}

.section-five {
  background-color: #bc0034;
  .consultation-text {
    border-radius: 21px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #bc0034;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 58px;
    margin-top: 40px;
    padding: 0px 50px 0px 50px;
  }
  .contraindications {
    font-size: 48px;
    font-weight: 300;
    line-height: 36px;
    border: 2px dashed #ffffff;
    padding: 6px 210px;
    color: #ffffff;
    margin-bottom: 48px;
  }
  .contraindications-text-wrap {
    margin: 0 auto;
    width: fit-content;
    .circle-wrap {
      margin-bottom: 20px;
      .circle {
        width: 27px;
        height: 27px;
        background-color: #ffffff;
      }
      .contraindications-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
        color: #ffffff;
      }
    }
  }
}

.section-one.bottom {
  padding-bottom: 22px;
}

.img-product-wrap {
  position: relative;
  top: 100px;
  display: inline;
}

@media (min-width: 1171px) and (max-width: 1920px){
  .img-product-mid{
    position: relative;
    left: -60px;
    top: 12px;
  }
}

@media (min-width: 1171px) and (max-width: 1725px){
  .section-one .header-text{
    h1{
      font-size: 94px
    }
    h4{
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px){
  .section-four .wrap-wom-img {
    margin-top: 173px!important;
    margin-left: 0!important;
  }
  .section-four .wrap-mode-item {
    margin-left: 0!important;
  }
}

@media (min-width: 640px) and (max-width: 1170px) {
  .img-product-wrap {
    position: relative;
    top: 80px;
    left: 165px;
  }
  .section-one {
    .wrap-header-text{
      margin-right: 160px;
    }
    .header-text {
      h1 {
        font-size: 70px;
        line-height: 72px;
      }
      h4 {
        font-size: 18px;
      }
    }
    .img-product {
      max-width: 219px;
      max-height: 258px;
    }
    .plus-health {
      width: 343px;
      span {
        font-size: 14px;
        font-weight: 300;
        line-height: 18.87px;
        margin-left: 6px;
      }
      .img-health {
        max-width: 23px;
      }
    }
    .wrap-plus-health {
      margin-left: 23px;
    }
    button.call-me {
      margin-left: 20px;
      padding: 15px 30px 15px 30px;
    }
  }
  .section-two {
    .wrap-sec-text-big {
      max-width: 555px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .wrap-sec-text {
      font-size: 18px;
    }
    .recomend-text {
      padding: 3px 40px;
      font-size: 30px;
    }
    .img-recomend {
      max-width: 150px;
    }
    .text-recomend {
      max-width: 166px;
      font-size: 14px;
    }
  }
  .section-three {
    background: url(../img/bg-3-sm.jpg) no-repeat;
    background-size: cover;
    .composition {
      margin-top: 30px;
      margin-bottom: 37px;
      font-size: 30px;
      line-height: 36px;
      padding: 3px 140px;
    }
    .wrap-item {
      width: 484px;
      height: 120px;
      .item {
        line-height: 18px;
      }
      .item-text {
        font-size: 13px;
        line-height: 14px;
      }
    }
    .item-pos {
      display: flex;
      justify-content: center;
      margin-left: 130px;

    }
    .img-product-mid {
      display: none;
    }

  }
  .section-four {
    .mode-of-application {
      line-height: 36px;
      font-size: 30px;
      padding: 2px 133px;
      margin-top: 30px;
    }
    .mode-of-application-img {
      max-width: 110px;
    }
    .text-mode {
      max-width: 184px;
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
    }
    .wrap-mid-mode-item {
      margin-left: 0 !important;
    }
    .wrap-bot-mode-item, .wrap-top-mode-item, .wrap-mid-mode-item {
      margin-bottom: 35px;
    }
    .wrap-wom-img {
      margin-top: 85px;
      margin-left: 135px;
      img{
        max-width: 360px;
      }
    }
    .wrap-mode-item{
      margin-left: 155px;
    }
  }
  .section-five {
    .consultation-text {
      font-size: 18px;
      line-height: 36px;
      padding: 1px 79px;
    }
    .contraindications {
      font-size: 30px;
      line-height: 36px;
      padding: 2px 114px;
    }
    .contraindications-text-wrap {
      .circle-wrap {
        .contraindications-text {
          font-size: 14px;
        }
      }

    }
  }
}

@media (max-width: 640.98px) {
  .section-one {
    background: url(../img/bg-1-sm.jpg) no-repeat;
    .header-text {
      h1 {
        font-size: 28px;
        line-height: 30px;
      }
    }
    .wrap-header-text {
      margin-bottom: 0;
      margin-right: 0;
    }
    .header-text {
      position: relative;
      top: -30px;
      left: -93px;
      h4 {
        font-size: 16px;
        line-height: 18px;
        max-width: 211px;
      }
    }
    .img-product {
      max-width: 219px;
      max-height: 250px;
    }
    .img-product-wrap {
      position: relative;
      top: 35px;
      left: 0;
      margin-left: 39%;
    }
    .plus-health {
      width: 290px;
      span {
        font-size: 11px;
      }
    }
    .wrap-plus-health {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 36px;
    }
    button.call-me {
      font-size: 24px;
      padding: 11px 17px;
      margin-left: 22px;
      line-height: 27.26px;
    }
  }
  .section-two {
    padding-bottom: 19px;
    .wrap-sec-text {
      max-width: 320px;
      text-align: center;
      line-height: 18px;
    }
    .wrap-sec-text-big {
      max-width: 366px;
      margin: 0 auto;
      font-weight: 300;
      line-height: 18px;
      margin-bottom: 27px;
    }
    .recomend-text {
      font-size: 16px;
      padding: 0px 27px;
    }
    .img-recomend {
      max-width: 150px;
    }
  }
  .section-three {

    background: url(../img/bg-3-min.jpg) no-repeat;
    .composition {
      font-size: 16px;
      line-height: 15px;
      padding: 3px 57px;
      margin-top: 30px;
      margin-bottom: 31px;
    }
    .wrap-item {
      width: 226px;
      height: 122px;
      .item {
        font-size: 11px;
      }
      .item-text {
        font-size: 8px;
        font-weight: 300;
        line-height: 10px;
      }
    }
    .item-pos {
      margin-left: 74px;
      display: flex;
      justify-content: center;
    }
    .img-product-mid {
      display: none;
    }
  }
  .section-four {
    .mode-of-application {
      font-size: 16px;
      line-height: 16px;
      padding: 4px 53px;
    }
    .wrap-mode-item{
      margin-left: 0;
    }
    .wrap-wom-img {
      img {
        max-width: 291px;
      }
    }
    .mode-of-application-img {
      max-width: 72px;
    }
    .text-mode {
      font-size: 12px;
      line-height: 14px;
    }
    .wrap-wom-img {
      margin-top: 105px;
    }
    .wrap-top-mode-item{
      flex-direction: column;
      position: relative;
      left: -87px;
      span{
        max-width: 235px;
      }
    }
    .wrap-mid-mode-item{
      flex-direction: column;
      max-width: 141px;
      margin-left: 5px!important;
    }
    .wrap-bot-mode-item{
      flex-direction: column;
      max-width: 145px;

    }
    .wrap-top-mode-item, .wrap-mid-mode-item, .wrap-bot-mode-item {
      margin-bottom: 0px;
      line-height: 14px;
    }
  }
  .section-five {
    .consultation-text {
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      max-width: 324px;
      border-radius: 50px;
      padding: 0 50px;
    }
    .contraindications {
      font-size: 16px;
      font-weight: 300;
      line-height: 14px;
      padding: 4px 59px;
    }
    .contraindications-text-wrap{
      .circle-wrap{
        .circle{
          width: 15px;
          height: 15px;
        }
      }
    }
    .contraindications-text-wrap{
      .circle-wrap{
        .contraindications-text{
          font-size: 14px;
          max-width: 300px;
          line-height: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 599.98px) {
  .section-one{
    .header-text h1{
      font-size: 24px;
      line-height: 30px;
    }
    .wrap-header-text{
      margin-right: 0px;
    }
    button.call-me{
      margin-left: 0;
    }
    .plus-health{
      span{
        margin-left: 0px;
        line-height: 16px;
      }
    }
  }
  .section-two{
    .wrap-sec-text{
      font-size: 18px;
    }
    .recomend-text{
      text-align: center;
    }
  }
  .section-three{
    .composition{
      text-align: center;
    }
  }
  .section-four {
    .wrap-wom-img {
      display: none;
    }
    .wrap-mode-item {
      margin-left: 0;
    }
    .mode-of-application{
      text-align: center;
    }
    .wrap-mid-mode-item,.wrap-top-mode-item,.wrap-bot-mode-item{
      max-width: inherit;
      position: inherit;
      margin-bottom: 10px;
    }
  }
}

